@use "../components/mixins" as *;
@use "../custom" as *;
.faq {
  background-color: $white;
  .container {
    .row {
      p {
        margin-top: 0.8rem;
        font-size: 1.5rem;
        text-transform: capitalize;
      }
      button {
        &:hover {
          @include gradient;
          color: $white;
        }
      }
    }
  }
}
